@import './base.css';
@import '../../../node_modules/vue-multiselect/dist/vue3-multiselect.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.region-selector .multiselect__input {
  font-size: 0.8rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #C8AA6E;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.multiselect__select {
  z-index: 2;
}

.multiselect__clear {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 34px;
  padding: 6px 8px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

h3 {
  line-height: initial;
}

p {
  margin: 0;
}

.q-field__control {
  height: inherit;
}

.summoner-input input {
  margin: auto 0;
  height: 40px;
}

@media (prefers-color-scheme: dark) {
  .header .region-selector, .region-selector .multiselect__content-wrapper {
    background-color: var(--color-background);
    border: none;
  }
  .region-selector .multiselect__tags{
    background-color: rgba(255, 255, 255, 0.07);
    border: none;
  }
  .region-selector .multiselect__single, 
  .region-selector .multiselect__input,
  .region-selector .multiselect__input::placeholder,
  .region-selector .multiselect__content {
    color: #FFF;
    background-color: #262626;
  }

  .cookie {
    background-color: #424851;
    border: none;
    color: #FFF;
  }

  .cookie__floating__content {
    text-align: center;
  }

  .cookie__floating__buttons__button {
    background-color: #424851;
  }

  .cookie__floating__buttons__button:first-child {
    border: none;
  }

}

